{% extends "base.html" %}

{% block page_content %}

<div class="container">
    <div class="page-header">
        {% if modify %}
            <span style="font-family:Georgia; color:#ff9900"><h1>Edit Job {{form.name.description}}</h1></span>
        {% else %}
            <span style="font-family:Georgia; color:#ff9900"><h1>Add New Job</h1></span>
        {% endif %}
    </div>
    <form id='editjob' action="" method="post" name='job'>
        {% import 'forms.html' as forms %}
        {{ form.hidden_tag() }}
        {% for field in form %}
        {{ forms.render_field(field) }}
        {% endfor %}
    </form>

</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap-tagsinput.min.js')}}">
{% endblock %}
