{% extends "base.html" %}

{% block head %}
{{super()}}
<meta http-equiv="refresh" content="300">
<link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" type="text/css"  rel="stylesheet">
{% endblock %}

{% block page_content %}

<div class="jumbotron text-center">
  <h1>Data Dashboard Prototype</h1>
</div>

<div class="container-fluid">
	<div class="row content">
		<div class="col-sm-10">
			<h4 class="text-success"> Tags: 
			{% for t in all_tags %}
			<a href="{{ url_for('main.info_tag', tag_name=t) }}" role="button" class="btn btn-info btn-sm">{{ t }}</a>
			{% endfor %}	</h4>		
			<hr>

			<table id="sortable" class="table table-hover is-breakable">
			<thead>
				<tr>
					<th width="10%">Activity</th>
					<th width="13%">Job Name</th>
					<th width="12%">Timezone</th>
					<th width="40%">Command</th>
					<th width="15%">Next Run</th>
					<th width="20%"></th>
				</tr>
			</thead>
			<tbody>
			{% for job in all_active_jobs %}
			 <tr>
			 	{% if job.active %}
		 		<td class="success">Active</td> 
		 		{% else %}
		 		<td class="warning">Inactive</td>
		 		{% endif %}
				<td><a href="{{ url_for('main.info_job', job_name=job.name, action='info') }}">{{ job.name }}</a></td>
				<td>{{ job.timezone }}</td>
				<td rel="tooltip" title="{{ job.command }}">{{ job.short_command }} </td>
				<td>{{ job.local_next_run }}</td> 
				<td class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Action <b class="caret"></b></a>
			        <ul class="dropdown-menu">
		          		<li><a href="{{ url_for('main.info_job', job_name=job.name, action='run') }}">Schedule Now</a></li>
						<li><a href="{{ url_for('main.edit_job', job_name=job.name ) }}">Edit</a></li>
						{% if job.active %}
							<li><a href="{{ url_for('main.info_job', job_name=job.name, action='deactivate') }}">Deactivate</a></li>
						{% else %}
							<li><a href="{{ url_for('main.info_job', job_name=job.name, action='activate') }}">Activate</a></li>
						{% endif %}
						<li><a href="{{ url_for('main.info_job', job_name=job.name, action='delete') }}">Delete</a></li>
			       	</ul>
			    </td> 
			</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>

		<div class="col-sm-2 sidenav">
			<h4 class="text-warning"> Pending/Running Tasks </h4>
			<hr>
				{% for task in running_tasks %}
				<p>
					{{ task.job_name }}
					{{ task.execution_date }}
					{{ task.state }}
				</p>
				{% endfor %}
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script>
$(document).ready(function() {
    $('#sortable').DataTable();
    var table = $('#sortable').dataTable();
    $("td").tooltip({
	    'selector': '',
	    'placement': 'top',
	    'container':'body'
    });

    /* Apply the tooltips */
    
    $('[data-toggle="tooltip"]').tooltip(); 
} );
</script>
{% endblock %}