{% extends "base.html" %}

{% block head %}
{{super()}}
<meta http-equiv="refresh" content="300">
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script>
$(document).ready(function() {
  $('#sortable').dataTable();
});
</script>
{% endblock %}

{% block page_content %}

<div class="jumbotron text-center">
  <h1>Data Dashboard Prototype</h1>
</div>

<div class="container-fluid">
	<div class="row content">
		<div class="col-sm-8">
			<h4 class="text-success"> Tags </h4>
			{% for t in all_tags %}
			<a href="{{ url_for('main.info_tag', tag_name=t) }}" role="button" class="btn btn-info">{{ t }}</a>
			{% endfor %}			
			<hr>

			<table id="sortable" class="table table-hover">
			<thead>
				<tr>
					<th width="10%">Activity</th>
					<th width="20%">Job Name</th>
					<th width="10%">Timezone</th>
					<th width="30%">Command</th>
					<th width="15%">Next Run UTC</th>
					<th width="15%"></th>
				</tr>
			</thead>
			<tbody>
			{% for job in all_active_jobs %}
			 <tr>
			 	{% if job.active %}
		 		<td class="success">Active</td> 
		 		{% else %}
		 		<td class="warning">Inactive</td>
		 		{% endif %}
				<td><a href="{{ url_for('main.info_job', job_name=job.name, action='info') }}">{{ job.name }}</a></td>
				<td>{{ job.timezone }}</td>
				<td>{{ job.command }} </td>
				<td>{{ job.next_run_ts }}</td> 
				<td>
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Action <b class="caret"></b></a>
			        <ul class="dropdown-menu">
		          		<li><a href="{{ url_for('main.info_job', job_name=job.name, action='run') }}">Schedule Now</a></li>
						<li><a href="{{ url_for('main.edit_job', job_name=job.name ) }}">Edit</a></li>
						{% if job.active %}
							<li><a href="{{ url_for('main.info_job', job_name=job.name, action='deactivate') }}">Deactivate</a></li>
						{% else %}
							<li><a href="{{ url_for('main.info_job', job_name=job.name, action='activate') }}">Activate</a></li>
						{% endif %}
						<li><a href="{{ url_for('main.info_job', job_name=job.name, action='delete') }}">Delete</a></li>
			       	</ul>
			    </td> 
			</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>

		<div class="col-sm-4 sidenav">
			<h2 class="text-warning"> Pending/Running Tasks </h2>
			<hr>
				{% for task in running_tasks %}
				<p>
					{{ task.job_name }}
					{{ task.execution_date }}
					{{ task.state }}
				</p>
				{% endfor %}
		</div>
	</div>
</div>


{% endblock %}
