{% extends "index.html" %}

{% block page_content %}
<div class="container-fluid">
  <div class="page-header">
    <h1> 
      <span class='danger'>{{ job.name }}</span>
    </h1>

  </div>

  <div>
    <h3>
      <span><a href="{{ url_for('main.edit_job', job_name=job.name ) }}" class="button btn btn-info" data-toggle="tooltip" title="info/edit">
      <span  class="glyphicon glyphicon-pencil"></span> Edit </a>
      </span>

      <span><a href="{{ url_for('main.info_job', job_name=job.name, action='run' ) }}" class="button btn btn-success" data-toggle="tooltip" title="run now">
        <span class="glyphicon glyphicon-play"></span> Run </a>
      </span>

      <span><a href="{{ url_for('main.info_job', job_name=job.name, action='delete' ) }}" class="button btn btn-danger" data-toggle="tooltip" title="delete job">
        <span class="glyphicon glyphicon-trash"></span> Delete </a>
      </span>

<!--       <span><a href="{{ url_for('main.info_job', job_name=job.name, action='deactivate' ) }}" class="button btn btn-warning" data-toggle="tooltip" title="deactivate" color='grey'>
        <span class="glyphicon glyphicon-eye-close"></span> Deactivate </a>
      </span> -->

      <span><a href="{{ url_for('main.info_job', job_name=job.name, action='block' ) }}" class="button btn btn-warning" data-toggle="tooltip" title="block">
        <span class="glyphicon glyphicon-eye-close"></span> Block </a>
      </span>
    </h3>
  </div>

  <div class="row content">
  <div class="col-sm-7">
    <h3>Recent Tasks</h3>
    <table id="sortable_desc_on_ts" class="table table-hover is-breakable">
      <thead>
        <tr>
          <th width='30%'>Execution Time (Local)</th>
          <th width='70%'>Task Status/Out</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          {% if task.state == 'SUCCESS' %}
          <!-- This is hardcoded for datacheck output -->
            {% if isinstance(task.result, str) and task.result.startswith('1') %}
          <td class="success">{{ task.execution_date }}</td>
          <td class="success">{{ task.result }}</td>
            {% else %}
          <td class="danger">{{ task.execution_date }}</td>
          <td class="danger">{{ task.result }}</td>
            {% endif %}
          {% elif task.state in ("PENDING", "STARTED") %}
          <td class="info">{{ task.execution_date }}</td>
          <td class="info">{{ task.state }}</td>
          {% else %}
          <td class="warning">{{ task.execution_date }}</td>
          <td class="warning">Task fail: {{ task.result }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-sm-5">
      {% if current_user.is_authenticated() %}
        {% if current_user.is_subscribed_to(name=job.name, job=True) %}
        <h3><a href="{{ url_for('main.edit_subscription_for_current_user', inst_type='job', name=job.name, action='unsubscribe') }}" type="button" class="btn btn-primary btn-md"> unsubscribe me</a></h3>
        {% else %}
        <h3><a href="{{ url_for('main.edit_subscription_for_current_user', inst_type='job', name=job.name, action='subscribe') }}" type="button" class="btn btn-primary btn-md"> subscribe me</a></h3>
        {% endif %}
      {% else %}
      <h3><a href="{{ url_for('auth.login') }}"> Log in</a> to subscribe to alert.</h3>
      {% endif %}
      <table class="table table-hover is-breakable">
      <tbody>
        <tr>
          <td>Active</td>
          <td>{{ job.active }}</td>
        </tr>
        <tr>
          <td>Timezone</td>
          <td>{{ job.timezone }}</td>
        </tr>
        <tr>
          <td>Command</td>
          <td rel="tooltip" title="{{ job.command }}">{{ job.short_command }} </td>
        </tr>
        {% if job.operator == 'sql' %}
        <tr>
          <td>Database</td>
          <td>{{ job.database }}</td> 
        </tr>
        {% endif %}
        <tr>
          <td>Run Interval</td>
          <td> {{ job.schedule_interval }} </td>
        </tr>
        <tr>
          <td>Reset Time</td>
          <td> {{ job.reset_status_at.time() }} </td>
        </tr>
        <tr>
          <td>Next Run</td>
          <td>{{ job.next_run_local_ts }}</td> 
        </tr>
        <tr>
          <td>Subscriptions</td>
          <td>
            {% for sub in alerts %}
            {{sub}}<br>
            {% endfor %}
          </td> 
        </tr>

      </tbody>
      </table>
    
      <p> 
        <h4>
          tags:
          {% for t in tags %}
          <a href="{{ url_for('main.info_tag', tag_name=t) }}" role="button" class="btn btn-info btn-sm">{{ t }}</a>
          {% endfor %}
        </h4>
      </p>

      
  </div>
  </div>


</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script>
$(document).ready(function() {
    // $('#sortable_desc_on_ts').DataTable();
    var table = $('#sortable_desc_on_ts').dataTable({
      "aaSorting": [[0,'desc']]
    });
    $("td").tooltip({
      'selector': '',
      'placement': 'top',
      'container':'body'
    });

    /* Apply the tooltips */
    
    $('[data-toggle="tooltip"]').tooltip(); 
} );
</script>
{% endblock %}