
{% extends "index.html" %}

{% block page_content %}
<div class="container-fluid">
	<div class="page-header">
		<h2>
			<span class="small glyphicon glyphicon-tag text-success"></span> {{ tag_name }} 
		</h2>
	</div>

	<div class="row content">
	<div class="col-sm-8">
		<div>
			<table id="sortable" class="table table-hover is-breakable">
			<thead>
				<tr>
					<th width="10%">Activity</th>
					<th width="20%">Job Name</th>
					<th width="15%">Timezone</th>
					<th width="25%">Command</th>
					<th width="20%">Next Run</th>
				</tr>
			</thead>
			<tbody>
			{% for job in jobs %}
			 <tr>
			 	{% if job.active %}
			 	<td>Active</td> 
			 	{% else %}
			 	<td>Inactive</td>
			 	{% endif %}
				<td><a href="{{ url_for('main.info_job', job_name=job.name ) }}">{{ job.name }}</a></td>
				<td>{{ job.timezone }}</td>
				<td rel="tooltip" title="{{ job.command }}">{{ job.short_command }} </td>
				<td>{{ job.next_run_local_ts }}</td> 
			</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
	</div>

	<div class="col-sm-4">
		<div> 
			<h3>Subscriptions:<br> 
				{% if current_user.is_authenticated() %}
					{% if current_user.is_subscribed_to(name=tag_name, job=False) %}
					<a href="{{ url_for('main.edit_subscription_for_current_user', inst_type='tag', name=tag_name, action='unsubscribe') }}" type="button" class="btn btn-primary btn-md"> unsubscribe me</a>
					{% else %}
					<a href="{{ url_for('main.edit_subscription_for_current_user', inst_type='tag', name=tag_name, action='subscribe') }}" type="button" class="btn btn-primary btn-md"> subscribe me</a>
					{% endif %}
				{% else %}
				<a href="{{ url_for('auth.login') }}"> Log in</a> to subscribe to alert.
				{% endif %}
			</h3>
		</div>

		<table class="table table-hover is-breakable">
			<tbody>
				{% for email in emails %}
				<tr>
					<td><a href="{{ url_for('main.edit_tag_subscription', action='remove', name=tag_name, email=email) }}" class="glyphicon glyphicon-trash text-info"></a></td>
					<td>{{ email }}<td>
				</tr>
				{% endfor %}
			<tbody>
		</table>
		<div>
			<form>
				<div class="form-group">
					<input type="text" name="email">
					<button class="btn btn-primary " name="add_subscription" type="submit">Add Email</button>
				</div>				
			</form>
		</div>

	</div>

</div>

{% endblock %}
